extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Login

        // register form
        form(method='POST' action='/api/login')
          div.form-group
            label(for='username') Username:
            input#username.form-control(type='text' placeholder='username' name='login')
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' placeholder='password' name='password')
          button.btn.btn-primary(type='submit') Login
